<div class="user-a">
<div class= 'nav'>
   <h4>
   My Blog
   </h4>
</div>
<% @users.each do |user| %>
<%= link_to user_path(user.id), class:"text-a" do %>

<% if @user%>
Logged in as <%= @user.name %>
<% end %>


<div class="user_cont">
 <img class="img" src="<%=user.photo %>">
<div>
<h3 class="username"> <%= user.name %> </h3>
</div>
<div class='posts'>
<p > Number of posts:</p>
<p class="pc" ><%= user.posts_counter %></p>
 </div>
</div>
 <%end%>
 <%end%>
</div>
