
<div class="user-show-a">
<div class="img-c">
<img src=<%= @user.photo %> alt="user photo"/>
<div class="tom-post">
<h2><%= @user.name %></h2>
<p>Number of posts(<%= @user.posts_counter%>)</p>
</div>
</div>
<div class="bio">
<p><%= @user.bio %></p>
</div>


<% @user.recent_posts.each do |post| %>
  <%= link_to user_posts_path(@user.id, post.id) do %> 
  <div class="recent-p">
  <h2><%= post.title %></h2>
  <p><%= post.text %></p>
  <h3>Comments: <%= post.comments_counter%>, Likes: <%= post.likes_counter%><h3>
  </div>
  <% end %>
  <% end%>

  <div class="buttons">

  <button>
      <%= link_to "All posts", user_posts_path(@user.id), class:"all-p" %>
  </button>

  </div>

</div>