<div>

  <div class="recent-p">
  <div>
  <h3><%= @post.title %> by <%= @user.name %></h3>
  <h4>comments(<%= @post.comments_counter%>) likes(<%= @post.likes_counter %>)<h4>
  </div>
  <p><%= @post.text %></p>
  </div>

    <%= form_with url: "/users/#{@post.author_id}/posts/#{@post.id}/likes", scope: :like do |form| %>
    <%= form.submit "Like ",class:"all-p" %>
    <% end %>

  <div>
  <% @comments.each do |comment|%>
    <p><%= comment.text %></p>


    <% end %>
  </div>
  
  <%= render partial: "comments", local: { post: @post } %>
  
</div>