<div>

  <div>
  <div>
  <h2>Post : <%= @post.title %> by <%= @user.name %></h2>
  <h3>Comments: <%= @post.comments_counter%>, Likes: <%= @post.likes_counter %><h3>
  </div>
  <p><%= @post.text %></p>
  </div>

  <div>
  <% @comments.each do |comment|%>
    <h3><%= comment.text %></h3>
    <% end %>
  </div>

</div>